@charset "iso-8859-1";
body {
	font-family: 'Roboto', sans-serif;
	background:#332C12 url(../img/bg.jpg) no-repeat top center;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}

a img {
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}

a:visited {
	color: #6E6C64;
	text-decoration: underline;
}

a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 960px;
	margin: 0 auto; 
}

p {
	font-size:18px;
	font-weight:700;
}

.content {
	width:898px;
	background:#E5E5E5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 30px;
	border:1px solid #FFF;
	margin:0 auto;
	margin-top:100px;
	-moz-box-shadow: 0px 6px 12px 0px #5b5b5b;
	-webkit-box-shadow: 0px 6px 12px 0px #5b5b5b;
	-o-box-shadow: 0px 6px 12px 0px #5b5b5b;
	box-shadow: 0px 6px 12px 0px #5b5b5b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#5b5b5b, Direction=180, Strength=12);
}

header {
	margin: 0 auto;
	margin-top:-110px;
	width:900px;
	height:242px;
	text-align:center;	
	background:url(../img/header.png) no-repeat;
}

.fltrt {	float: right;
	margin-left: 8px;
}
.fltlft { 	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

input[type=text]{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#000 url(../img/bg-input.jpg) repeat-x;
	border:none;
	width:380px;
	height:56px;
	color:#FFF;
	font-size:18px;
	padding:0 8px;
	display:inline-block;
	float:left;
	margin-right:20px;
}

[class^=slider] {
	display: inline-block;
	margin-bottom: 30px;
}

.output {
	color: #000;
	font-size: 18x;
	margin-left: 10px;
	line-height:57px;
	vertical-align:top;
	
}

#load {
	float:left;
	display:inline-block;
}

.valid {
	vertical-align:top;
	line-height:30px;
	color:#65AF1D;
	margin-left:10px;
	font-weight:bold;
	display:inline-block;
}

.false {
	vertical-align:top;
	line-height:30px;
	color:#FF0000;
	margin-left:10px;
	font-weight:bold;
	display:inline-block;
}

.output {
	font-weight:bold;!important
	margin-right:20px;!important
	font-size:24px;!important
}

#button_validate {
	width:356px;
	height:107px;
	background: url(../img/btn-generate-off.png) no-repeat;
}

#button_validate:hover {
	background: url(../img/btn-generate-on.png) no-repeat;
	cursor:pointer;
}

#coms {
	display:block;
}

.comment {
	height:60px;
	vertical-align:top;
}

.avatar {
	display:inline-block;
}

.name {
	height:40px;
	text-align:left;
	line-height:20px;
	display:inline-block;
	margin-left:10px;
	font-size:16px;
	vertical-align:top;
}

.clear {
	clear:both;
}

/*MOBILE*/
@media (min-width: 320px) and (max-width: 768px) {
.container {
	width: 90%;
}
.content {
	text-align:center;
	width:90%;
	padding: 10px;
	margin-top:100px;
	-moz-box-shadow: 0px 3px 6px 0px #5b5b5b;
	-webkit-box-shadow: 0px 3px 6px 0px #5b5b5b;
	-o-box-shadow: 0px 3px 6px 0px #5b5b5b;
	box-shadow: 0px 3px 6px 0px #5b5b5b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#5b5b5b, Direction=180, Strength=6);
}

header {
	width:95%;
	background:url(../img/header-mob.png) no-repeat center;
	height:147px;
}

input[type=text]{
	width:80%;
	display:inline-block;
	margin-right:20px;
}

.valid {
	display:none;
}

.false {
	display:none;
}
	
#button_validate {
	width:296px;
	height:107px;
	background: url(../img/btn-generate-mob-off.png) no-repeat;
}

#button_validate:hover {
	background: url(../img/btn-generate-mob-on.png) no-repeat;
	cursor:pointer;
}

#comments {
	text-align:left;
}

#coms {
	display:none;
}

.avatar {
	text-align:left;
	float:left;
	margin-bottom:5px;
}

.name {
	width:100%;
}


}

/*TABLETS*/
@media (min-width: 769px) and (max-width: 991px) {
.container {
	width: 90%;
}
.content {
	text-align:center;
	width:90%;
	padding: 10px;
	margin-top:100px;
	-moz-box-shadow: 0px 3px 6px 0px #5b5b5b;
	-webkit-box-shadow: 0px 3px 6px 0px #5b5b5b;
	-o-box-shadow: 0px 3px 6px 0px #5b5b5b;
	box-shadow: 0px 3px 6px 0px #5b5b5b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#5b5b5b, Direction=180, Strength=6);
}

header {
	width:95%;
	background:url(../img/header-mob.png) no-repeat center;
	height:147px;
}

input[type=text]{
	width:80%;
	display:inline-block;
	margin-right:20px;
}

.valid {
	display:none;
}

.false {
	display:none;
}
	
#button_validate {
	width:356px;
	height:107px;
	background: url(../img/btn-generate-off.png) no-repeat;
}

#button_validate:hover {
	background: url(../img/btn-generate-on.png) no-repeat;
	cursor:pointer;
}

#comments {
	text-align:left;
}

#coms {
	display:block;
}


}